<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Here is what people are saying:</p>
    <hr class="my-4">
  </div>
</div>


{{#each projects}}
<div class="card">
  <div class="card-header">
      {{this.user}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
{{/each}}