<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Edit Your Post</h1>
    <p class="lead">Fix up those typos:</p>
    <hr class="my-4">
  </div>
</div>


<div class="card">
  <div id = "projectId" class="card-header">
   {{projects.id}}
  </div>
  <div class="card-body">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Project Title</span>
        </div>
        <input id="projectName" value="{{projects.name}}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">Project Description</span>
    </div>
        <textarea id="projectDescription" class="form-control" aria-label="With textarea">{{projects.description}}</textarea>
    </div>
    <a id = "saveButton" href="/" class="btn btn-primary">Save Post</a>
    <a id = "deleteButton" href="/" class="btn btn-danger">Delete Post</a>
  </div>
</div>
<script src="/js/edit.js"></script>